asgiref
beautifulsoup4
certifi
contourpy
crispy
crispy-bootstrap5
cycler
distlib
dj-database-url
Django
django-bootstrap-v5
django-bootstrap4
django-crispy-forms
django-email
django-environ
django-upgrade
fabio
filelock
fonttools
h5py
hdf5plugin
kiwisolver
lxml
matplotlib
numpy
packaging
pillow
pipenv
platformdirs
psycopg2
psycopg2-binary
pyparsing
PyQt5
PyQt5-Qt5
PyQt5-sip
python-dateutil
setuptools
silx
six
soupsieve
sqlparse
tokenize-rt
typing_extensions
tzdata
virtualenv